*{ font-weight: bolder;
    font-variant: small-caps;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
color: white;
margin: auto;

}


#body1{  background-color :black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;

}

.intro{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
text-shadow: 5px 5px  blue;
color: white;

}

.links{ color: white;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
border: solid 3px blueviolet;
padding: auto;
margin: 20px;

}

.contentbox{ display: flex;
        flex-direction: row;
 flex: auto;
}

.cb1{ border: solid white .2em;
flex: auto;
width: auto;
height: auto;
overflow: auto;
color: blue;
padding: 2em
}

.cb2{  border: solid white .2em;
 flex: auto;
 width: auto;
height: auto;
overflow: auto;
color: blue;
padding: 2em;
}

.cb3{  border: solid white .2em;
flex: auto;
width: auto;
height: auto;
overflow: auto;
color: blue;
padding: 2em;
}

#img1{ flex: 0;}

#img2{flex: 0;}

#img3{flex: 0;}

#img4{flex: 0;}

#end{ 
    display: flex;
   flex-direction: row;
  
    margin :auto;
    height: fit-content;
  width: fit-content;}



.textbox{ background: linear-gradient(gold,lightblue);
border: outset 1px gold;
border-radius: 1em;
padding: 1em;
margin: 1em;
}
 
p{ color: black;

}

#contentbox2{ 
  align-items: center;
margin: auto;
width: auto;
height: 200px;
overflow: hidden;

}

.endbox1{padding:1em;
  border: dashed 1px blue;

overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox2{padding:1em;
    border: dashed 1px blue;
overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox3{padding:1em;
  border: dashed 1px blue;

overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox4{padding:1em;
  border: dashed 1px blue;

overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox5{padding:1em;
  border: dashed 1px blue;
  ;overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox6{padding:1em;
  border: dashed 1px blue;
  overflow: auto;
margin: auto;
flex: auto;
width:auto;
height: auto;}

.endbox7{
  display: flex;
  padding:1em;
  border: dashed 1px blue;

overflow: auto;
margin: auto;}